source-path=SCRIPTDIR
disable=SC2030 # Modification of nickname is local (to subshell caused by pipeline).
disable=SC2031 # nickname was modified in a subshell. That change might be lost.
disable=SC2046 # Disable quote this to prevent word splitting.
disable=SC2048 # Use "$@" (with quotes) to prevent whitespace problems.
disable=SC2068 # Double quote array expansions to avoid re-splitting elements.
disable=SC2076 # Remove quotes from right-hand side of =~ to match as a regex rather than literally.
disable=SC2086 # Disable double quote to prevent globbing and word splitting.
disable=SC2155 # Declare and assign separately to avoid masking return values.
